.app-header {
  background-color: #f7f3ee;
  padding: 20px;
  border-bottom: 1px solid #666666;
}

/* Top section with logo */
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  height: 70px;
  width: auto;
  display:block;
}

/* Title */
.app-header h1 {
  font-size: 32px;
  margin: 10px 0 5px;
  color: #666666;
  text-align: center;
}

/* Subtitle */
.app-header p {
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin: 0;
}

.main {
  background-color: antiquewhite;
}