.app-footer {
  text-align: center;
  padding: 20px;
  background-color: #666666;
  border-top: 1px solid #666666; 
  margin-top: 20px;
}

.app-footer p {
  margin: 5px 0;
  font-size: 14px;
  color: #FFFFFF; 
}

